.h1
{
color:rgb(236, 223, 224);
margin: 1em 0 0.5em 0;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
    text-align: center;

}
h2
{
color:white;
}
p

{
color:yellow;
}

