{% extends 'base.html' %}
{% block content %}
{% if form.errors %}
<p class="error"> Invalid Username or Password </p>
{% endif %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'loginmodule/login.css' %}" />
<div class="login">
    <h1>Login</h1>
      <form method="post">
        <input type="text" name="u" placeholder="Username" required="required" />
          <input type="password" name="p" placeholder="Password" required="required" />
          <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
      </form>
  </div>
    {% endblock %}
    